@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

figure{
	break-inside: avoid;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure#figure-1 img{
	max-width: 70%;
}

figcaption{
	font-size: .75em;
	font-style: italic;
	margin: 1em;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:hymn"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:hymn"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:hymn"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}


[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

/* ========== */

[epub|type~="imprint"] div {
	font-variant: small-caps;
}

[epub|type~="imprint"] div p {
	text-align: center; 
}

[epub|type~="imprint"] div p:first-of-type,
[epub|type~="imprint"] div p:nth-of-type(3) {
	margin-bottom: 0; 
}

[epub|type~="imprint"] div p:nth-of-type(2),
[epub|type~="imprint"] div p:nth-of-type(4) {
	margin-top: 0; 
}

[epub|type~="imprint"] > p.colophon {
	line-height: 1.1;
	margin-top: 0.5em;
}

[epub|type~="imprint"] hr {
	width: 10%;
}

